@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
:root {
  --primary-color: #131313;
  --secondary-color: #ff900e;
  --tertiary-color: #727272;
  --gray-color: #424242;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: "Work Sans", sans-serif;
  background: #ffffff;
  width: 90%;
  padding-inline: 1.5rem;
  margin-inline: auto;
}
img {
  width: 100%;
  display: block;
}
li {
  list-style: none;
}
main {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
/* Navbar style */
nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-inline: 50px;
  padding-block: 1rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
}
nav ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: var(--dark-gray);
  cursor: pointer;
}
nav ul li:hover {
  font-weight: 600;
  color: var(--tertiary-color);
}

/* Button style */
.btn__primary {
  background: var(--secondary-color);
  border-radius: 8px;
  padding: 15px 20px;
  border: 0;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin-block: 1rem;
  color: #ffffff;
  cursor: pointer;
}
.btn__primary:hover {
  background-image: linear-gradient(to right top, #9c581b, #ebbc12);
}
.section-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #131313;
}
.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.section-heading {
  text-align: center;
  margin-block: 0.5rem;
}
/* banner */
.banner-text {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner-title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 75px;
  text-align: center;
  color: #131313;
}
.banner img {
  min-width: 300px;
  padding: 1rem;
}

/* quick list Section style */
.quicklist_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.quicklist_image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.quicklist_image img {
  object-fit: cover;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  max-width: 300px;
}
.quicklist_image img:hover {
  transform: scale(90%);
}

.quick-list-text {
  width: 450px;
}
.quick-list-title {
  font-size: 2rem;
  color: var(--tertiary-color);
}

.quick-list-title b {
  color: var(--primary-color);
}
.quick-list-title b span {
  color: var(--secondary-color);
}

.quick-list-info {
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0;
}

/* feature section style */
.feature {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.feature-left {
  min-width: 300px;
}
.feature-right {
  align-items: center;
  justify-content: center;
}
.feature-right img {
  height: auto;
  min-width: 300px;
}
.card {
  padding-block: 1.5rem;
}
.card-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2rem;
  color: #131313;
}
.card-description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #727272;
  max-width: 560px;
  min-width: 100%;
}
.experience-btn {
  position: absolute;
  padding: 30px 35px;
  background: var(--secondary-color);
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  bottom: 1rem;
  left: 450px;
}
.feature-heading {
  position: relative;
}
.feature-heading h3 {
  padding-left: 1rem;
}
.feature-heading-left {
  height: 100px;
  width: 10px;
  position: absolute;
  left: 0;
  background: var(--secondary-color);
}
/* Fact section style */
.facts-cards {
  display: grid;
  grid-gap: 4rem;
  padding-inline: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}
.fact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: .5s ease-in;
}
.fact-card img {
  width: 1.5rem;
  object-fit: cover;
}
.fact-card:hover {
  border: 1px solid #ebbc12;
  transform: scale(110%);
  overflow: hidden;
}
.fact-card img:hover {
  transform: scale(102%);
}
/* Contact us section style */
/* #### Extra section ##### */
.contact-us {
  border-radius: 15px;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  gap: 60px;
  box-shadow: rgba(100, 90, 111, 0.2) 0px 7px 30px 0px;
}
.contact-us img {
  width: 100%;
}
/* form style */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

form input[type="text"],
input[type="email"],
textarea {
  min-width: 100%;
  font-size: 15px;
  padding: 20px;
  border: 0;
  border: 0.5px solid #f15b22;
  border-radius: 8px;
  outline: none;
}

form button {
  width: 100%;
}

/* sponsors */
.sponsors-container {
}
.sponspors {
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  padding-inline: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}
.sponspors img {
  width: 100%;
  filter: grayscale(100%);
}

footer {
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Mobile  */
@media only screen and (max-width: 576px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .quicklist_image {
    grid-template-columns: repeat(1, 1fr);
  }
  .quick-list-text {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  body {
    padding: 0.5rem;
  }

  main {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .quicklist_container {
    flex-direction: column;
  }
  .feature {
    flex-direction: column;
  }
  .contact-us {
    flex-direction: column;
  }
  .experience-btn {
    left: 0;
  }
}
